pipeline/PipeCopiaTweets.json
{
	"name": "PipeCopiaTweets",
	"properties": {
		"activities": [
			{
				"name": "FiltroGetLocationDallas",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Table Tweets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table Tweets').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Location,'Dallas')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Table Tweets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"dataset": {
						"referenceName": "LinkTablaOriginal",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FiltroGetLocationDallas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "LinkTablaOriginal",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LinktablaGian",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}