pipeline/TuberiaCopiadoIncrementado.json
{
	"name": "TuberiaCopiadoIncrementado",
	"properties": {
		"activities": [
			{
				"name": "GETCFG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.ConfigTable}\nif @@rowcount = 0 throw 5000,'No rows in configuration table!',1",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "ClippersDeRedShiftaSQLServer",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AWS REDSHIFT CFG",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GETCFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GETCFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SRC_name, 'Tweets')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each RedShiftaSQL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AWS REDSHIFT CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('AWS REDSHIFT CFG').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GET MAX AWS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AmazonRedshiftSource",
									"query": {
										"value": "select max(@{item().WatermarkColum}) as maxd from @{item().SRC_tab}",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AmazonRedShift",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.ConfigTable",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Copy AWS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GET MAX AWS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AmazonRedshiftSource",
									"query": {
										"value": "select @{item().cols} from @{item().SRC_tab}\nwhere\n@{item().WatermarkColum} >\n'@{item().WatermarkValue}'\nAND\n@{ITEM().WatermarkColum}>\n'@{activity('GET MAX AWS').output.firstRow.MAXD}'",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "truncate table @{item().DST_tab}",
										"type": "Expression"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AmazonRedShift",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.ConfigTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ClippersDeRedShiftaSQLServer",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().DTS_tab}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "UPDATE WATERMARK AWS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy AWS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateWatermark]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@{item().id}",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"NewWatermark": {
										"value": {
											"value": "@{activity('GET MAX AWS'}.output.firstRow.MAXD",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ClippersRedShiftASQLServer",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ConfigTable": {
				"type": "string",
				"defaultValue": "Config"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}